@import "variables";

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

